html,body
{
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif !important;
}
a
{
    color: #FFF !important;
    text-decoration: none !important;
}

#main
{
    background-image: url("../img/header-image.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
a,a:hover
{
    text-decoration: none;
    color: #FFF;
}
#menu-button
{
    background: transparent;
    padding-top: 20px;
    padding-left: 20px;
    border: none !important;
    color: #FFF;
}
#menu-button>i
{
    font-size: 20px;
}
#menu
{
    width: 97%;
    height: 650px;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    z-index: 10;
    padding-top: 65px;
}
#menu>ul
{
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 60px;
    vertical-align: middle;
}
.oo {
  position: relative;
  display: block;
  cursor: pointer;
}

.oo:before, .oo:after {
  content: '';
  position: absolute;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #FF0000;
}

.oo:before {
  left: -2.5px;
}
.oo:after {
  right: 2.5px;
  background: #FF0000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: rotate(135deg);
}

.oo:hover:before {
  background: #FF0000;
  left: 47%;
  width: 6%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: rotate(135deg);
}

.oo:hover:after {
  background: transparent;
  left: 47%;
  width: 6%;
  transition: 0s;
  transform: rotate(135deg);
}

#menu>ul>li
{
    list-style: none;
    margin-top: 10px;
}
#logo-img
{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 220px;
    height: 200px;
}
#main-text
{
    background: transparent;
    color: #fff;
    padding-left: 10vw;
    position: relative;
    top: 10vh;
}
#main-text>b>h1
{
    font-size: 8vw;
    letter-spacing: 3px;
    font-weight: bolder;
}
#main-text>span
{
    font-size: 3vw;
    font-weight: lighter;
    letter-spacing: 10px;
}
#down-arrow
{
    color: #FFF;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
#quote
{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 150px;
    padding-left: 150px; 
    font-size: 35px;
    font-weight: lighter;
}
#quote-person
{
    font-size: 30px;
    color: #F00;
}

.oo1 {
  position: relative;
  display: block;
  cursor: pointer;
}

.oo1:before, .oo1:after {
  content: '';
  position: absolute;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #FF0000;
}

.oo1:before {
  left: -2.5px;
}
.oo1:after {
  right: 2.5px;
  background: #FF0000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: rotate(135deg);
}

.oo1:hover:before {
  background: #FF0000;
  left: 24%;
  width: 52%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: rotate(135deg);
}

.oo1:hover:after {
  background: transparent;
  left: 24%;
  width: 52%;
  transition: 0s;
  transform: rotate(135deg);
}


.row
{
    margin: 0;
    padding: 0;
}

.animate-down
{
    height: 500px;
    background-image: url(../img/background-dv.png);
    background-size: 100% 100%;
    color: #FFF;
    text-align: center;
    display: table;
}
#quote1
{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: lighter;
}
.verti-cent
{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

}
.verti-cent>h1,.verti-cent>h3
{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.50em;
}
.verti-cent>.h1
{
    font-size: 85px;
    padding: 0;
    margin: 0;
}
.verti-cent>.h3
{
    font-size: 45px;
}
.animate-down:hover
{
    -webkit-animation: animation 5000ms linear both;
    animation: animation 5000ms linear both;
}
@-webkit-keyframes animation { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    0.26% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.171, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.171, 0, 1); }
    0.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.229, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.229, 0, 1); }
    1.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.259, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.259, 0, 1); }
    1.76% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.957, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.957, 0, 1); }
    2.39% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.443, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.443, 0, 1); }
    3.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.554, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.554, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 29.015, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 29.015, 0, 1); }
    5.52% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 35.924, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 35.924, 0, 1); }
    8.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.495, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.495, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.725, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.725, 0, 1); }
    10% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.542, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.542, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.922, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.922, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 52.168, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 52.168, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.392, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.392, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 49.948, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 49.948, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.001, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); } 
}

@keyframes animation { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    0.26% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.171, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 2.171, 0, 1); }
    0.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.229, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.229, 0, 1); }
    1.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.259, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.259, 0, 1); }
    1.76% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.957, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 13.957, 0, 1); }
    2.39% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.443, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.443, 0, 1); }
    3.01% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.554, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 22.554, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 29.015, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 29.015, 0, 1); }
    5.52% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 35.924, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 35.924, 0, 1); }
    8.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.495, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.495, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.725, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 44.725, 0, 1); }
    10% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.542, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 48.542, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.922, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.922, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 52.168, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 52.168, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.392, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.392, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 49.948, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 49.948, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.001, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50.001, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1); } 
}
#quote-two-main
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 0;
}
#quote-two
{
    font-size: 30px;
}
#arrow
{
    border-bottom: 1px solid black;
    height: 25px;
    text-align: left;
    padding: 0;
}
#arrow>span
{
    position: relative;
    top: -7px;
    right: 8px;
    font-size: 17px;
}
#services>.row>a>.col-md-4,.transparent-div,.outer-cover,.inner-cover
{
    display: table;
    height: 400px;
    text-align: center;
}
.transparent-div
{
    padding: 50px;
}
.outer-cover,.inner-cover,.transparent-div
{
    width: 100%;
}
#services>.row>a>.col-md-4
{
    padding: 0;
}
.outer-cover
{
    padding: 20px;
}
.inner-cover
{
    background-color: rgba(180,180,180,0);
}
.transparent-div:hover
{
    background-color: rgba(120,120,120,0.8);
    z-index: 2;
}
.transparent-div:hover .read-more
{
    display: none;
}
.transparent-div:hover .draw-line
{
    display: none;
}
.heading-service
{
    font-size: 40px;
    font-color: #fff;
}
.draw-line
{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid white;
}
.read-more
{
    font-size: 18px;
}
#form-submit-div
{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 80px;
}
input[type="text"] {
    font-size: 22px;
    font-weight: lighter;
}
input
{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}
#text-area-opinion
{
    background: transparent;
    font-size: 22px;
    font-weight: lighter;
    border: none;
    border-bottom: 1px solid white;
}
#submit-button
{
    background-color: #FFF;
    padding: 5px 30px 5px 30px;
    color: #000;
    font-size: 25px;
    border-radius: 0;
}
#footer
{
    margin-top: 40px;
}
#hello
{
    font-size: 75px;
    color: #FFF;
    font-weight: lighter;
    letter-spacing: 3px;
}
#signup
{
    padding: 10px 250px 10px 250px;
    background-color: #888;
    border-color: #888;
    border-radius: 0;
    font-size: 22px;
}
#send
{
    padding: 10px 45px 10px 45px;
    background-color: #000;
    border-color: #000;
    border-radius: 0;
    font-size: 22px;
}
.col-md-12
{
    color: #888;
    font-size: 18px;
}
.col-md-12>h1
{
    color: #FFF;
}
#opinion-text
{
    position: relative;
    right: 255px;
}
#nav-items>a
{
    color: #000;
    margin-left: 8px;
    margin-right: 8px;
    color: #000 !important;
    font-size: 20px;
}
#copyright-text
{
    font-size: 20px;
}
#nav-items>a>i
{
    font-size: 26px;
}
.col-md-12>a:hover
{
    color: #77F !important;
}

#one1{
    display: none;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect:hover > #one {
    display: none;
}

.hovereffect:hover > #one1 {
    display: block;
}
.hovereffect:hover  .draw-line {
    display: none;
}
.hovereffect:hover  .read-more {
    display: none;
}
/*.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}
*/
.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 10px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -45% 0 0 0;
  padding: 40% 40%;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


.hovereffect1 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect1 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect1:hover > #one {
    display: none;
}

.hovereffect1:hover > #one1 {
    display: block;
}
.hovereffect1:hover  .draw-line {
    display: none;
}
.hovereffect1:hover  .read-more {
    display: none;
}
/*.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}
*/
.hovereffect1 img {
  display: block;
  position: relative;
}

.hovereffect1 a.info {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 10px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -57% 0 0 0;
  padding: 40% 40%;
}

.hovereffect1:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect1 a.info:hover {
  box-shadow: 0 0 5px #fff;
}


#menu>a>.fa
{
    font-size: 25px;
}
#menu>a>.fa-twitter
{
    position: absolute;
    right: 20px;
    top: 220px;
}
#menu>a>.fa-instagram
{
    position: absolute;
    right: 20px;
    top: 260px;
}
#menu>a>.fa-facebook
{
    position: absolute;
    right: 25px;
    top: 300px;
}
#menu>a>.fa-linkedin
{
    position: absolute;
    right: 20px;
    top: 340px;
}
#menu>a>.fa-snapchat-ghost
{
    position: absolute;
    right: 20px;
    top: 380px;
}